<div class="flex_row" style="height: 100vh;">
  <div class="flex_col flex_between" style="margin-top: 18px; margin-bottom: 18px;">
    <input required class="border_none input_text" style= "height: 66px;"
    value="<%= article.title %>"type="text" name="title" id="title" placeholder="제목을 입력하세요">
    <textarea class="border_none" placeholder="당신의 이야기를 적어보세요." style="resize:none" name="description" id="description"><%= article.description %></textarea>
    <textarea class="border_none" placeholder="마크다운 문법에 맞춰 작성해주세요." style="resize:none" name="markdown" id="markdown"><%= article.markdown %></textarea>
    <div class="flex_row" style="justify-content: right;">
      <button class="btn btn_green text_lg" type="submit">작성하기</button>
      <a class="btn font_green text_lg" href="/">취소하기</a>
    </div>
  </div>
</div>