<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" type="text/css" rel="stylesheet">
  <title>새 글 작성</title>
</head>
<body>
  <div class="">
    <form action="/articles" method="POST">
      <%- include('_form_fields') %>
    </form>
  </div>
</body>
</html>